@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Practica de ASP.NET</h1>
    <p class="lead">Proyecto del Lab 2022 con ASP.NET tomando como base el proyecto de entity framework</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mostrar la tabla de transportistas</h2>
        <p>
            Se podra ver la tabla de transportistas y eliminar, agregar o actualizar sus campos.
        </p>
        <p><a class="btn btn-default" href="~/Shippers/index"> Ver &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mostrar la tabla de proveedores</h2>
        <p>Se podra ver la tabla de transportistas y eliminar, agregar o actualizar sus campos.</p>
        <p><a class="btn btn-default" href="~/Suppliers/index"> Ver &raquo;</a></p>
    </div> 
</div>